{% extends 'admin/layout.html.twig' %}
{% block title %}
    {% if category.id %}
        Edytowanie kategorii {{ category.name }}
    {% else %}
        Nowa kategoria
    {% endif %}
{% endblock %}
{% block content %}
    <main class="container admin" id="content">
        <form action="category.php?id={{ category.id }}" method="POST" class="narrow">
            <h1>{{ category.id ? 'Edytuj kategorie' : 'Dodaj kategorie' }}</h1>
            {% if errors.warning %}
            <div class="alert alert-danger">{{ errors.warning }}</div>
            {% endif %}
            <div class="form-group">
                <label for="name">Nazwa:</label>
                <input
                        type="text"
                        id="name"
                        name="name"
                        value="{{ category.name }}"
                        class="form-control"

                />
                <span class="errors">{{ errors.name }}</span>
            </div>

            <div class="form-group">
                <label for="description">Opis:</label>
                <textarea id="description" name="description" class="form-control" >{{ category.description }}</textarea>
                <span class="errors">{{ errors.description }}</span>
            </div>

            <div class="form-check">
                <input
                        type="checkbox"
                        id="navigation"
                        name="navigation"
                        value="1"
                        class="form-check-input"
                        {{ category.navigation == 1 ? 'checked' : '' }}
                />
                <label for="navigation" class="form-check-label">Nawigacja</label>

            </div>

            <input type="submit" id="save" value="Zapisz" class="btn btn-primary btn-save" />
        </form>
    </main>
{% endblock %}