<p class="credit">
    Zamieszczono w <a href="{{ document_root }}category.php?id={{ publication.id_category }}">{{ publication.category }}</a>
    przez: <a href="{{ document_root }}user.php?id={{ publication.id_user }}">{{ publication.author }}</a>
</p>